version: "3.8"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: project-veda-frontend:latest
    env_file:
      - ./.env
    ports:
      - "5173:5173"   # host:containerchr
      
    restart: unless-stopped
